* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4));
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    background-image: url("marvel.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.marvel-panel,
.dc-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

.words-style
 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 350;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 10px;
    color: white;
}

.button-main {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

.button-main:hover { font-weight: 600; }
.button-main:hover i { margin-right: 20px; }

.button-main:focus {
    outline: none;
}

.btn-new { top: 45px;}
.btn-hold { top: 480px;}
.input-field{ top : 450px; width: 50px;}

.char{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-style: inset;
    border-radius: 5px;
    align-items: center;
    font-size: 40px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.hint{
    position: absolute;
    bottom : 50%;
    justify-content: center;
    align-content: center;
    display: flex;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
.blocks-generator{
    position: absolute;
    bottom: 30%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: row wrap;
}
.key-box{
    text-align: center;
    position: absolute;
    width: 300px;
    top: 468px;
    opacity: 0.9;
}